@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html {
  font-family: "Inter", system-ui, sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
}
